@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
}

#welcomeGift1 {
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 85;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
}
/*Con min-width, m칩vil primero y con max-width, de escritorio primero.*/
#words-Welcome {
  width: 25em;
  color: wheat;
  font-size: 2vw;
  text-align: center;
  padding: 0%;
  margin: 1em 0em 3em 0em;
  /* padding-right: 5em; */
  letter-spacing: 0.1em;
  text-shadow: 0.001rem 0.1rem 0.001rem #173aff;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  /* es para que los tres elementos se vean en columna,
  no est치 en el video */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  width: 150px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.button:before{
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border: 2px solid #ad8e32;
  border-radius: 50px;
  transform: scaleX(0);
  transition: .1s;
  transition-delay: .2s;
}
.button:hover:before{
  transform: scaleX(1);

}
.button a {
  font-family: 'Saira Condensed', sans-serif;
  position: absolute;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
  /* text-decoration: none; */
  color: #122230;
  transition: -5s;
}
.button a:hover {
  font-size: 30px;
}
.button a:before{
  content:'';
  position: absolute;
  width: 180px;
  height: 180px;
  background: #ad8e32;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: -1;

}

.button a:hover:before{
width: 100px;
height: 100px;
border: 1px solid #173aff;
}

.button a:after{
  content: '';
  position: absolute;
  width: 0px;
  height: 10px;
  background: #ad8e32;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  box-shadow: 200px 0px 0px #ad8e32;
  transition: .5s;
}

.button a:hover:after{
  width: 100px;
  box-shadow: 100px 0px 0px #ad8e32;
}

#img-lol {
  margin: 2em 0 0 2em;
  width: 40%;
}

/* #img-list{
  width: 40em;
  height: auto;
  margin: 0 auto 40px auto;
  display: none;
  position: cover;
} */
#generalContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(assets/background1.jpg);
  box-shadow: inset 0 0 0 1000px rgba(42, 42, 78, 0.671);
  /*esto es para hacerlo responsive : */
  width: 100%;
  margin: auto;
  height: 100%;
  background-position: center;
  /*PROPIEDADES FLEX*/
  display: flex;
  display: none;
  flex-flow: column wrap;
}
header {
  height: 100%;
  width: 100%;
}
#logo_Lol {
  margin-top: 0;
  padding-top: 0;
  width: 20em;
  justify-content: center;
  height: auto;
  z-index: 3;
}

#logo {
  grid-auto-rows: auto;
  display: grid;
  justify-items: center;
}

#buttons_colection_champions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#button_colection,
#contador {
  width: 15em;
  height: 2em;
  outline: none;
  font-size: 1.5em;
  color: #e2eaf5;
  margin: 0 6% 0 6%;
  border-radius: 2em;
  border-width: 0.5rem;
  border-style: double;
  border-color: #282626;
  background-color: #b09d57;
  font-family: 'Shadows Into Light', cursive;
}

#contador {
  padding: 0.1em;
  text-align: center;
}
#detail_logo {
  border: 2px solid black;
}

.detail_diamont_Riot,#detail_diamont_Riot  {
  width: 100%;
  height: auto;
  padding-right: 80px;
}
#detail_diamont_Riot2 {
  width: auto;
  height: 50%;
}
.buscadores {
  top: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  position: sticky;
  margin: 1% 0 4% 0;
}
#menu{
  display: none;
}
ul,
li {
  list-style: none;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 0%;
}

.filtros li a {
  padding: 0.2em;
  display: block;
  width: 17.1rem;
  margin-top: 4%;
  font-size: 1rem;
  border-width: 8px;
  color: aliceblue;
  border-style: double;
  text-decoration: none;
  border-color: #b09d57;
  background-color: #464242;
}

.filtros li a:hover {
  border-radius: 2em;
  background: #316a99;
  box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94;
}

#habilidad_popular, #searchTexto, #button_colection,
#contador {
  padding: 4px 0;
  text-transform: capitalize;
  border-style: double;
  transition: 0.5s ease-out;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
} 
 #habilidad_popular:hover, #searchTexto:hover, #button_colection:hover, .filtros > li:hover {
  border-bottom: 10px solid rgb(131, 135, 138);
  background: #316a99;
  box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94;
}

.filtros > li {
  float: left;
  width: 20em;
  height: 2.6em;
  font-size: 20px;
  color: #e2eaf5;
  border-width: 8px;
  text-align: center;
  border-style: double;
  transition: 0.7s ease-out;
  background-color: #b09d57;
  border-right: 8px solid #b09d57;
  border-left: 8px solid #b09d57;
  border-top: 8px solid #464242;
  border-bottom: 8px solid #464242;
}

#searchTexto {
  float: left;
  width: 15em;
  height: 2.5em;
  outline: none;
  margin-left: 7px;
  font-size: 1.2em;
  color: #464242;
  border-width: 8px;
  text-align: center;
  border-style: double;
  letter-spacing: 0.1em;
  background-size: 35px;
  padding: 0.5% 0 0 35px;
  background-color: #B09D57;
  background-repeat: no-repeat;
  background-position: 38px 3px;
  border-right: 8px solid #b09d57;
  border-left: 8px solid #b09d57;
  border-top: 8px solid #464242;
  border-bottom: 8px solid #464242;
  background-image: url(./assets/iconfinder_Search.png);
}

#habilidad_popular {
  float: left;
  width: 20em;
  display: none;
  height: 2.6em;
  font-size: 20px;
  color: #e2eaf5;
  padding-top: 0.5%;
  border-width: 8px;
  text-align: center;
  border-style: double;
  transition: 0.7s ease-out;
  background-color: #b09d57;
  animation: signal 1s infinite;
  border-right: 8px solid #b09d57;
  border-left: 8px solid #b09d57;
  border-top: 8px solid #464242;
  border-bottom: 8px solid #464242;
}

@keyframes signal {
  0% {
    box-shadow: 0 0 0 0 #b09d57;
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

.filtros li ul {
  display: none;
}

.filtros li:hover > ul {
  display: block;
}

.main {
  height: 100%;
}

#root {
  color: #dfc981;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(338px, 2fr));
  padding:0 5% 5% 6%;
}
#newSpace {
border: 2px solid black;
background-color: yellowgreen;
}

.nameOfChampion {
  width: 95%;
    height: 1.5rem;
    color: white;
    font-size: 20px;
    align-content: center;
    padding: 0 0 36px 0.8em;
    background-color: #b09d57;
}

.imageOfChampion {
  width: 95%;
  height: 20em;
  border:2px #b09d57 solid;
}

#root:hover .imageOfChampion {
  transform: perspective(500px) rotateY(30deg);
  z-index: -2;
}
#root .imageOfChampion:hover {
  transform: perspective(250px) rotateY(0deg);
  z-index: -2;
}

.tagsOfChampion {
  width: 95%;
  height: 1.5rem;
  color: white;
  font-size: 20px;
  padding-left: 8em;
  text-align: center;
  align-content: center;
  margin: -40px 0 20% 0;
  background-color: #c59a3e;
}
.imageChampion{
  border-radius: 23px;
  width: 95%;
  height: 14rem;
  border-color: currentColor;
  float: right;
}
.infoChampion {
  color: #ffbf00;
  font-size: larger;
  text-align: center;
  margin-top: 29%;
  margin-right: 30%;
  overflow-wrap: normal;
  font-family: 'Shadows Into Light', cursive;
  height: 3rem;
  align-content: right;
  position: absolute;
}
#returnMain{
  display: none;
}
#graphicChart{
  display: none;
  width: 400px;
  height: 400px;
  margin-left: auto;
  /* background-color: red; */
}
/* #calculationGraph{
  height:400px;
  width:content-box;
} */

canvas{
  height: 500px;
}

/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}
.chartjs-render-monitor{animation:chartjs-render-animation 1ms};

.infoOfChampion{
  height: 3rem;
  color: #ffbf00;
  font-size: larger;
  position: absolute;
  text-align: center;
  margin: 25% 2% 0 0;
  align-content: right;
  overflow-wrap: normal;
  font-family: 'Shadows Into Light', cursive;
}

footer {
  border: 2px solid black;
  background-color: rgb(11, 11, 3);
  font-family: "Righteous", cursive;
}

#play_links {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align-last: end;
  padding: 5% 20% 0 20%;
}

#img_Riot {
  width: 50%;
  height: auto;
}

#img_ratings {
  width: 40%;
  height: auto;
}

#final_information {
  font-size: 11px;
  color: #7e7e7e;
  line-height: 200%;
  text-align: center;
  font-family: "Righteous", cursive;
}

#gitHub {
  width: auto;
  height: 50px;
  align-items: center;
  background-color: #b09d57;
}

#gitHub>a>img {
  width: 50px;
  height: 50px;
  background-color: #b09d57;
  border: 1px solid #b09d57;
}

#final_conditions > a {
  color: #7e7e7e;
}

#final_conditions > a:hover {
  color: gold;
}

@media only  screen and (max-width: 375px) { 
  #graphicChart{
    display: none;
  }

  .container{
  width: 100%;
  height: 100vh;
  display: flex;
  /* es para que los tres elementos se vean en columna,
  no est치 en el video */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  width: 150px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.button:before{
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border: 2px solid #ad8e32;
  border-radius: 50px;
  transform: scaleX(0);
  transition: .1s;
  transition-delay: .2s;
}
.button:hover:before{
  transform: scaleX(1);

}
.button a {
  font-family: 'Saira Condensed', sans-serif;
  position: absolute;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
  /* text-decoration: none; */
  color: #122230;
  transition: -5s;
}
.button a:hover {
  font-size: 30px;
}
.button a:before{
  content:'';
  position: absolute;
  width: 180px;
  height: 180px;
  background: #ad8e32;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: -1;

}

.button a:hover:before{
width: 100px;
height: 100px;
border: 1px solid #173aff;
}

.button a:after{
  content: '';
  position: absolute;
  width: 0px;
  height: 10px;
  background: #ad8e32;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  box-shadow: 200px 0px 0px #ad8e32;
  transition: .5s;
}

.button a:hover:after{
  width: 100px;
  box-shadow: 100px 0px 0px #ad8e32;
}

  #welcomeGift1 {
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 85;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
  /*Con min-width, m칩vil primero y con max-width, de escritorio primero.*/
  #words-Welcome {
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin: 0 0 3em 0em;
  }
  #img-lol {
    width: 80%;
    margin: 0 0 3.125rem 0.8em;
  }
  
  /* #img-list{
    width: 340px;
    height: auto;
    padding-right: 1.875rem;
    margin: 15% 0 3.75rem 0;
    display: none;
  } */
 
  #logo_Lol {
    width: 7em;
    height: auto;
    position: fixed;
    padding-bottom: 2em;
    margin: 1em 0 0.3125rem 40%;
    justify-content: center;
  }

#root {
  padding-left: 8%;
}
#contador{
  margin: 0px 0px 0px 8px;
  width: 160px;
  border-radius: 0;
  background: linear-gradient(#5a5f2f, #122230);
  color: #e2eaf5;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-left: transparent;
  border-right: transparent;
}
#button_colection{
  margin: 0px 0px 0px 45px;
  width: 120px;
  border-radius: 0;
  background: linear-gradient(#5a5f2f, #122230);
  color: #e2eaf5;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-right: transparent;
  border-left: transparent;
}
#buttons_colection_champions {
  height: 30%;
  width: 100%;
  position: fixed;
  font-size: 0.7em;
  justify-content: end;
  padding: 23% 0 1.25rem 5%;
  background: linear-gradient(#122230, #5a5f2f);
}
.filtros {
  position: fixed;
  margin-top: 23%;
  flex-wrap: inherit;
  justify-content: center;
}

.filtros > li {
  background: linear-gradient(#5a5f2f, #122230);
  width: 110px;
  border-radius: 0;
  font-size: 0.9em;
  color: #e2eaf5;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-left: 0;
  border-right: transparent;
  margin-top: 50px;
  margin-left: 21px;
}
#role{
  width: 110px;
} 
#order{
  margin-left: -5px;
  width: 110px;
}

#searchTexto {
  width: 8px;
  margin-left: 20px;
  margin-right: -210px;
  font-size: 0.9em;
  background: linear-gradient(#5a5f2f, #122230);
  color:#122230;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-right: transparent;
  border-left: transparent;
  background-image: url(./assets/iconfinder_Search.png);
  background-size: 23px;
  background-repeat: no-repeat;
  padding-left: 35px;
}
#searchTexto:focus{
  background-color: rgb(227, 240, 240);
  width: 190px;
}

#detail_diamont_Riot {
  width: 100%;
  height: 2em; 
  padding-right: 80px;
  margin-top: 40%;
}
#habilidad_popular {
  font-size: 0.92em;
  padding-top: 2%;
  border-radius: 0;
  border-style: double;
  border-width: 8px;
  border-color: #282626;
  border-top:2px solid #b09d57;
  border-bottom:2px solid #b09d57;
  border-left: transparent;
  border-right: transparent;
  padding-right: 8px;
  margin-right: 30px;
  float: left;
  background: linear-gradient(#5a5f2f, #122230);
  height: 2.5em;
  text-align: center;
  width: 120px;
  color: #e2eaf5;
  margin-top: 50px;
}

#gitHub {
  width: auto;
  height: 30px;
}

#gitHub > a > img {
  width: 50px;
  height: 30px;
}
#final_information {
  font-size: 9px;
  color: #7e7e7e;
  line-height: 200%;
}

.detail_diamont_Riot {
  width: 100%;
  height: 25px;
  padding-right: 30px;
}
#play_links {
  padding: 0 0 0 3%;
}
footer{
  border: 0;
  padding-top: 8px;
  background: linear-gradient(#5a5f2f, #122230);
}
.filtros li a {
  font-size: 0.7rem;
  width: 8rem;
}
#habilidad_popular a{
  font-size: 0.7rem;
  width: 7rem;
  float: right;
}
.imageOfChampion {
  height: 17em;
}

}

